<div id="<%= dom_id table %>">
  <p>
    <strong>Name:</strong>
    <%= table.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= table.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= table.phone %>
  </p>

  <p>
  <strong>Price:</strong>
  <%= table.price %>
</p>

</div>
